@using PagedList.Mvc;
@model PagedList.IPagedList<CadastroDeAlunos.Models.Cidades>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Cidades</h2>

<p>
    @Html.ActionLink("Nova Cidade", "Create", new{}, new {@class = "btn btn-success"})
</p>
@using (Html.BeginForm("Index", "Cidades", FormMethod.Get))
{
    <p>
        <select id="coluna" name="coluna">
            <option value="id">Código</option>
            <option value="NomeCidade">Cidade</option>
            <option value="Estado">Estado</option>
            <option value="Cep">CEP</option>
        </select>
        @Html.TextBox("SearchString", "")
        <input type="submit" value="Buscar"/>
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Cidade", "Index", new {SortOrder = ViewBag.CidadeParamentro})
        </th>
        <th>
            @Html.ActionLink("Estado", "Index", new { SortOrder = ViewBag.EstadoParamentro })
        </th>
        <th>
            @Html.ActionLink("Cep", "Index", new { SortOrder = ViewBag.CepParamentro })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.id }, new { @class = "btn btn-primary"}) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id }, new {@class = "btn btn-warning"})
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new {page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter}))


@*<script>
    var select = document.getElementById("coluna");

    select.onchange = function () {
        var valor = select.options[select.selectedIndex].value;

        var s1 = document.getElementById("SearchString").value;
        var s2 = document.getElementById("coluna").value;
        
        if (s2 === "id") {
            $("input.SearchString").mask("999.999.999-99");
        } else if (s2 === "Cep") {
            $("input.SearchString").mask("99999-999");
        } else {
            $("input.SearchString").mask("99.999.999/9999-99");
        }
    }
</script>*@